@use "../styles/common/variables";

img.logo {
  -webkit-transform: scale(variables.$logo-size--mobile); /* Saf3.1+, Chrome */
  -moz-transform: scale(variables.$logo-size--mobile); /* FF3.5+ */
  -ms-transform: scale(variables.$logo-size--mobile); /* IE9 */
  -o-transform: scale(variables.$logo-size--mobile); /* Opera 10.5+ */
  transform: scale(variables.$logo-size--mobile);
}

.header-wrapper {
  overflow: hidden;
  width: 100%;
  background: url('../images/food-on-table-326278.jpg');
  background-size: cover;

  h1 {
    font-family: variables.$font-stack-logo;
    text-shadow: 2px 2px 4px #000000;
    margin: 0.5em 0 0.5em 0;
  }

  a {
    color: white;
    text-decoration: none;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
