@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

//Font
$font-stack: "Montserrat", sans-serif;
$font-stack-logo: "Oleo Script Swash Caps", cursive;
$font-size: 16px;
$primary-font-color: white;
$secondary-font-color: black;

//Colors
$primary-background: #f0eeec;
$secondary-background: rgb(235, 213, 192);

//Borders
$border-secondary-opacity: 1px solid rgba(76, 134, 168, 0.2);
$border-radius: 10px;

//Logo
$logo-size--mobile: 0.5;

//Screen size breakpoints
$medium_min-width: 1024px;
$tablet_min-width: 768px;
