@use '../../../../styles/common/variables';

.restaurant-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 1em 0;
  width: 100%;

  .title {
    display: flex;
    margin-bottom: 0.5em;
    width: 100%;
    border-bottom: variables.$border-secondary-opacity;
    b {
      font-weight: 600;
    }
  }

  .col {
    display: flex;
    justify-content: left;
    margin-right: 1em;
  }

  .col-date {
    min-width: 120px;
    margin-left: 2em;
  }

  .icon {
    color: variables.$valei-pink;
    margin-right: 0.5em;
  }
}
